form label{
	display: block;
}

form label span, form label input.fieldName{
	width: 20%;
	display: inline-block;
}

form label input, form label input.fieldValue{
	width: 75%;
	display: inline-block;
}

button#addField{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#trashCustomField, .trashField{
	font-size: 20px;
	margin-left: 5px;
	cursor: pointer;
}

ul.listCollection{
	padding-left: 0;
}

ul.listCollection li{
	list-style: none;
	text-decoration: none;
	margin-bottom: 5px;
	margin-top: 5px;
}

ul.listCollection li a.collection{
	width: 90%;
	text-align: left !important;
}

ul.listCollection li a.removeCollection{
	vertical-align: bottom;
}